
body{
    background-color: #434343;
    width: 100vw;
    height: 100vh;
}

.app{
  display: flex;
  flex-wrap: wrap;
}
/* Header Component */
.header{
  width: 100%;
  height: 2vh;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.add {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  background-color: #5bc0be;;
  text-align: center;
  align-self: flex-end;
  border-top-right-radius: 10px;
}

/* Display Component */

.display{
  align-self: flex-start;
  height: 90vh;
  width: 75vw;
  display: flex;
  flex-direction: column;

}
/* Side-bar Component */
.side-bar{
  color: white;
  height: 90vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-items:hover{
  color: #5bc0be;
  cursor: pointer;
}

/* Top-Box Component */
.top-box{
  align-self: flex-start;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.box{
  width: 30%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#373737;
  color: white;
}

.box h3{
  margin: 0;
  align-self: flex-start;
}


/* Bottom Box Component */
.bottom-box{
  padding: 10px;
  color: white;
  background-color: #373737;
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.bottom-box img{
  width: 75%;
  border-radius: 25px;
  height: 40vh;
  align-self: flex-end;
}

.bottom-box h3,h2{
  margin: 1px;
}

.subtitle{
    color: #5bc0be;
}
